<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="Chat">

	<!-- 채팅방 생성 -->
	<insert id="chatCreate" parameterType="chat">
        INSERT INTO chat_room (name, password, limit, host)
        VALUES (#{name}, #{password}, #{limit}, #{host})
    </insert>

	<!-- 채팅방 목록 조회 -->
    <select id="chatList" resultType="chat">
        SELECT * FROM chat_room
    </select>

	<!-- 채팅방 조회 -->
    <select id="chatRoom" parameterType="long" resultType="chat">
        SELECT * FROM chat_room 
        WHERE id = #{id}
    </select> 
</mapper>